// ====================================================================
// Form
// ====================================================================
form {

    width: 100%;

    .field {
        position: relative;

        @include breakpoint (tiny-m) {
            width: 100%;
        }
    }

    .field-half {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include breakpoint (tiny-m) {
            flex-wrap: wrap;
        }

        .field {
            width: 100%;
            &:first-of-type {
                margin: 0 10px 0 0;
            }

            @include breakpoint (tiny-m) {
                &:first-of-type {
                    margin: 0;
                }
            }
        }
    }

    //Error
    .verify {
        position: absolute;
        top: calc(50% - 10px);
        right: 30px;

        &:before {
            //content: '\f107';
            display: inline-flex;
            position: absolute;
            color: #FFF;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 20px;
        }

        &.error {
            &:before {
                content: '\f00d';
                color: #DD1754;
            }

        }
        &.right {
            &:before {
                content: '\f00c';
                color: #4caf50;
            }

        }
    }

}

