// ====================================================================
// Sidebar
// ====================================================================

aside#itemGallery {
	position: fixed;
	display: block;
	top: 0;
	right: -100vw;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	opacity: 0;
	transition: opacity 0.3s ease;

	div.overlay {
		z-index: 0;
		background: rgba(#000, 0.5);
		position: absolute;
		top: 0;
		right: -100vw;
		width: 100vw;
		height: 100vh;
	}

	div.content {
		position: absolute;
		max-width: 800px;
		width: calc(100% - 40px);
		right: -800px;
		top: 0;
		background: $chan-skin;
		height: 100vh;
		overflow: auto;
		z-index: 1;
		transition: all 0.3s ease;

	}

	&.active {
		right: 0;
		opacity: 1;
		div.overlay {
			right: 0;
		}
		div.content {
			right: 0;
		}

	}
	
}