// ====================================================================
// Fonts
// ====================================================================

// -------------------------------------
// Caminhos
// -------------------------------------

$image-path: '../img';			// Caminho das imagens
$font-path: '../fonts';			// Caminho das fontes

@import url('https://fonts.googleapis.com/css?family=Abel');

@font-face {
    font-family: 'Fragua';
    src: url('#{$font-path}/Fragua/Fragua-Bold.eot');
    src: url('#{$font-path}/Fragua/Fragua-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Fragua/Fragua-Bold.woff2') format('woff2'),
        url('#{$font-path}/Fragua/Fragua-Bold.woff') format('woff'),
        url('#{$font-path}/Fragua/Fragua-Bold.ttf') format('truetype'),
        url('#{$font-path}/Fragua/Fragua-Bold.svg#Fragua-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fragua';
    src: url('#{$font-path}/Fragua/Fragua-Light.eot');
    src: url('#{$font-path}/Fragua/Fragua-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Fragua/Fragua-Light.woff2') format('woff2'),
        url('#{$font-path}/Fragua/Fragua-Light.woff') format('woff'),
        url('#{$font-path}/Fragua/Fragua-Light.ttf') format('truetype'),
        url('#{$font-path}/Fragua/Fragua-Light.svg#Fragua-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


// -------------------------------------
// Padrao
// -------------------------------------

$font-family--primary    : "Abel";
$headers-font-family     : 'Abel';
$p-font-family           : 'Abel';
$span-font-family        : 'Abel';

$font-family--secondary  : ''